In [1]:
import pandas as pd
df = pd.read_csv("demo-dataset.csv")
df.head()

   target                                              tweet
0       0  Today in Selfcare beauty amp laughs Kung Fu Pa...
1       0  If this is your response to someone saying the...
2       0  Apparently you get a free pass just by mention...
3       0  When you will never again give birth to violen...
4       0                        Aw man im outta pizza rolls

In [2]:
import nlpaug
import nltk
nltk.download('averaged_perceptron_tagger')
import nlpaug.augmenter.word as naw
aug = naw.SynonymAug(aug_src='wordnet',aug_max=2)
aug.augment("Misleading reviews. Worst coffee ever had, and sorely disappointing vibe.",n=2)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

['Misleading reviews. Worst deep brown ever had, and sorely disappointing vibe.',
 'Misleading review. Worst coffee ever had, and painfully disappointing vibe.']

In [3]:
aug = naw.SynonymAug(aug_src='wordnet',aug_max=3)

In [4]:
df.shape

(4245, 2)

In [5]:
df1=df[df['target']==1]
df1.shape

(1888, 2)

In [6]:
df1=df1.reset_index()
df1.head()

   index  target                                              tweet
0   2357       1  At least Ryleigh didn t win that world title.....
1   2358       1                           I m officially depressed
2   2359       1           Reduce Your Anxiety Naturally. depressed
3   2360       1  If you know someone with fibromyalgia, please ...
4   2361       1  Another day in the life of a depressed individ...

In [7]:
df1['index'].nunique()

1888

In [8]:
df1.shape

(1888, 3)

In [9]:
augmented_sentences=[]
#augmented_sentences_labels=[]
for i in df1['index'].unique():
    dep= list(df1[df1['index']==i]['tweet'])
    temps=aug.augment(dep,n=2)
    #print(temps)
    augmented_sentences.append(temps)
    #for sent in temps:
        #augmented_sentences.append(sent)
#augmented_sentences

In [10]:
len(augmented_sentences)

1888

In [11]:
depr_aug= pd.DataFrame(augmented_sentences,columns=['tweet_aug'])
depr_aug.head()

                                           tweet_aug
0  At least Ryleigh didn t win that world title. ...
1                           1 m officially depressed
2            Slim Your Anxiety Naturally. demoralize
3  If you know someone with fibromyalgia, please ...
4  Another day in the life of a depressed individ...

In [12]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [13]:
depr_aug['compound'] = [analyzer.polarity_scores(t)['compound'] for t in depr_aug['tweet_aug']]
depr_aug.head()

                                           tweet_aug  compound
0  At least Ryleigh didn t win that world title. ...    0.1280
1                           1 m officially depressed   -0.5106
2            Slim Your Anxiety Naturally. demoralize   -0.1779
3  If you know someone with fibromyalgia, please ...   -0.9588
4  Another day in the life of a depressed individ...   -0.8591

In [14]:
depr_aug[depr_aug['compound']<0].shape

(1724, 2)

In [15]:
depr_aug= depr_aug[depr_aug['compound']<0]
depr_aug.shape

(1724, 2)

In [16]:
depr_aug.head()

                                           tweet_aug  compound
1                           1 m officially depressed   -0.5106
2            Slim Your Anxiety Naturally. demoralize   -0.1779
3  If you know someone with fibromyalgia, please ...   -0.9588
4  Another day in the life of a depressed individ...   -0.8591
5     Only my underrated meme and feelings depressed   -0.5106

In [17]:
depr_aug['target']=1
depr_aug.head()

                                           tweet_aug  compound  target
1                           1 m officially depressed   -0.5106       1
2            Slim Your Anxiety Naturally. demoralize   -0.1779       1
3  If you know someone with fibromyalgia, please ...   -0.9588       1
4  Another day in the life of a depressed individ...   -0.8591       1
5     Only my underrated meme and feelings depressed   -0.5106       1

In [18]:
depr_aug['tweet_aug'][4]

'Another day in the life of a depressed individual. depression sucks. . aliveness is rocky'

In [19]:
del depr_aug['compound']

In [20]:
depr_aug.head()

                                           tweet_aug  target
1                           1 m officially depressed       1
2            Slim Your Anxiety Naturally. demoralize       1
3  If you know someone with fibromyalgia, please ...       1
4  Another day in the life of a depressed individ...       1
5     Only my underrated meme and feelings depressed       1

In [21]:
depr_aug.reset_index(drop=True)

                                              tweet_aug  target
0                              1 m officially depressed       1
1               Slim Your Anxiety Naturally. demoralize       1
2     If you know someone with fibromyalgia, please ...       1
3     Another day in the life of a depressed individ...       1
4        Only my underrated meme and feelings depressed       1
...                                                 ...     ...
1719  This Christmastide, I m cold and alone. Down S...       1
1720  Life but got superfluous hard this morning. No...       1
1721     I precisely want to equal disappear. depressed       1
1722  It s sad that at that place s nobody in ur lif...       1
1723  Walking outside solo whereever can salve my de...       1

[1724 rows x 2 columns]

In [65]:
#depr_aug.to_csv("demo-depressive-aug.csv",index=False)

In [22]:
import pandas as pd
df = pd.read_csv("demo-dataset.csv")
df.head()

   target                                              tweet
0       0  Today in Selfcare beauty amp laughs Kung Fu Pa...
1       0  If this is your response to someone saying the...
2       0  Apparently you get a free pass just by mention...
3       0  When you will never again give birth to violen...
4       0                        Aw man im outta pizza rolls

In [23]:
df.shape

(4245, 2)

In [24]:
df['target'].value_counts()

0    2357
1    1888
Name: target, dtype: int64

In [25]:
df1 = pd.read_csv("demo-depressive-aug.csv")
df1.head()

                                           tweet_aug  target
0                             I m formally depressed       1
1             Slim Your Anxiety Naturally. depressed       1
2  If you know someone with fibromyalgia, please ...       1
3  Another day in the life of a blue individual. ...       1
4        Just my underrated meme and feelings deject       1

In [26]:
df1.columns=['tweet','target']
df1.head()

                                               tweet  target
0                             I m formally depressed       1
1             Slim Your Anxiety Naturally. depressed       1
2  If you know someone with fibromyalgia, please ...       1
3  Another day in the life of a blue individual. ...       1
4        Just my underrated meme and feelings deject       1

In [27]:
df2=pd.concat([df,df1])
df2.shape

(5951, 2)

In [28]:
df2.head()

   target                                              tweet
0       0  Today in Selfcare beauty amp laughs Kung Fu Pa...
1       0  If this is your response to someone saying the...
2       0  Apparently you get a free pass just by mention...
3       0  When you will never again give birth to violen...
4       0                        Aw man im outta pizza rolls

In [29]:
df2.isnull().sum()

target    0
tweet     0
dtype: int64

In [30]:
df2['target'].value_counts()

1    3594
0    2357
Name: target, dtype: int64

In [31]:
df3 = pd.read_csv("non-depr_add.csv")
df3.head()

   target                                              tweet
0       0  I love you! I dont think i have ever met anyon...
1       0                           chatting with my besties
2       0  Heading off to yoga class. What a beautiful su...
3       0  so great to have friends who support the thing...
4       0  thanks for tweeted my ARBONNE FC eye creme giv...

In [32]:
df4=pd.concat([df2,df3])
df4.shape

(6951, 2)

In [33]:
df4=df4.reset_index(drop=True)
df4.shape

(6951, 2)

In [34]:
df4.head()

   target                                              tweet
0       0  Today in Selfcare beauty amp laughs Kung Fu Pa...
1       0  If this is your response to someone saying the...
2       0  Apparently you get a free pass just by mention...
3       0  When you will never again give birth to violen...
4       0                        Aw man im outta pizza rolls

In [35]:
df4['target'].value_counts()

1    3594
0    3357
Name: target, dtype: int64

In [16]:
#df4.to_csv("aug_demo-dataset.csv",index=False)

In [36]:
df5=df4[df4['target']==0]
df5.shape

(3357, 2)

In [22]:
#df5.to_csv("data/aug_non-depr.csv",index=False)

In [37]:
df6=df4[df4['target']==1]
df6.shape

(3594, 2)

In [23]:
#df6.to_csv("data/aug_depr.csv",index=False)